/* CUSTOM PROPERTIES 
-------------------------------*/
:root {
  --background-image: url("https://i.pinimg.com/736x/4d/f1/eb/4df1ebdeb7ad6e38e244055470bd2321.jpg");
  --pinkbeige: #f0e2da;
  --lightbrown: #c68766;
  --black: #000000;
  --image: var(--background-image);
  --color-light: var(--pinkbeige);
  --color-dark: var(--lightbrown);
  --color-black: var(--black);
}

/* Global Styles 
-------------------------------*/
body {
  margin-top: 200px;
  margin-bottom: 100px;
  padding: 0;
  background-color: var(--color-dark);
  justify-content: center;
  align-items: center;
}

.card-container {
  background-image: var(--image);
  background: linear-gradient(rgb(231, 156, 156), rgba(208, 219, 169, 0)),
    var(--image);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 500px;
  height: 400px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 25px;
}
header {
  width: 100%;
  background-color: var(--color-light);
  margin-top: -80px;
  padding-top: 100px;
  margin-bottom: 100px;
  border-radius: 25px 25px 0 0;
}
p {
  text-align: center;
  margin-top: -10px;
  border-bottom: 1px solid var(--color-black);
  font-size: 25px;
}
h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: -100px;
  object-fit: cover;
  object-position: top;
}
.age {
  font-size: 40px;
  font-weight: 500;
  margin-top: 7px;
  margin-bottom: 5px;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
  margin-bottom: 40px;
}
.stat-number,
.stat-label {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.stat-number {
  font-size: 25px;
  font-weight: 700;
}
.name-age {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
